# Puertos estándar EP2 (rama main)
VENTAS_HOST_PORT=8080
DESPACHOS_HOST_PORT=8081
MYSQL_HOST_PORT=3306

MYSQL_ROOT_PASSWORD=rootpass
DB_NAME=innovatech
DB_USERNAME=innovatech
DB_PASSWORD=innovatech123
