# Puertos alternativos si 8080/8081/3306 están ocupados (usar en rama deploy o copiar a .env)
VENTAS_HOST_PORT=9080
DESPACHOS_HOST_PORT=9081
MYSQL_HOST_PORT=3307

MYSQL_ROOT_PASSWORD=rootpass
DB_NAME=innovatech
DB_USERNAME=innovatech
DB_PASSWORD=innovatech123
